{% extends "enteteAccueil.html.twig" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Accueil</title>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container"><br>
	<center><h1>Réalisations à commenter</h1></center><br>
	<table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
				<thead>
					<tr>
						<th scope="col" data-sortable="true">Libellé</th>
						<th scope="col" data-sortable="true">Nombre d'activités</th>
						<th scope="col" data-sortable="true">Statut</th>
						<th scope="col" data-sortable="true">Date</th>
						<th></th>
					</tr>
				</thead>
			<tbody>
			{% for RP in pRP %}
			<tr>
				<td><a class="text" href="{{ path('rpConsulter', { 'rp_id': RP.id }) }}">{{ RP.libcourt }}</a></td>
				<td>{{ RP.activites.count }}</td> 
				<td>{{ RP.statut.libelle }}</td>		    
				<td>{{ RP.dateDebut|date("d/m/Y") }}</td>
				<td><a href="supprimer.html.twig">❌</a>
				</td>
			</tr>
						    
			{% endfor %}
						    
			</tbody>
	</table>
	<br><br>
	<center><h1>Suivi de stage</h1></center><br><br>
        <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
          <thead>
            <tr>
            <th scope="col">Etudiant</th>
          <th scope="col">Entreprise</th>
          <th scope="col">Tuteur</th>
            </tr>
          </thead>
          <tbody>
                {% for stage in pStages %}
            <tr>
            <td><a class="text" href="{{ path('StageConsulter', { 'stage_id': stage.id }) }}">{{stage.etudiant.nom}} {{stage.etudiant.prenom}}</a></td>
            
            <td>{{stage.lieu}}</td>
            <td>{{stage.nomtut}}</td>
            <td><a href="../../etudiant/stage/consulter/{{stage.id}}">Détail</a></td>
            <td><a href="../../etudiant/activite/consulterSemaine/{{stage.id}}">Activités</a></td>

  {% else %}
    <tr>
    <td>Aucun stage n'a été trouvé.</td>
    </tr>
  {% endfor %}
          </tbody>
        </table>



	


</body>
</html>
{% endblock %}