{% extends "entete.html.twig" %}
{% block content %}

<!DOCTYPE html>

<body>
<div class="container">
  <center><h1 class="display-4">Tableau de suivi de stage</h1><br></center>
        <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">
          <thead>
            <tr>
            <th scope="col">Etudiant</th>
          <th scope="col">Entreprise</th>
          <th scope="col">Tuteur</th>
            </tr>
          </thead>
          <tbody>
                {% for stage in pStages %}
            <tr>
            <td><a class="text" href="{{ path('StageConsulter', { 'stage_id': stage.id }) }}">{{stage.etudiant.nom}} {{stage.etudiant.prenom}}</a></td>
            
            <td>{{stage.lieu}}</td>
            <td>{{stage.nomtut}}</td>
            <td><a href="../../../etudiant/stage/consulter/{{stage.id}}">Détail</a></td>
            <td><a href="../../../etudiant/activite/consulterSemaine/{{stage.id}}">Activités</a></td>

  {% else %}
    <tr>
    <td>Aucun stage n'a été trouvé.</td>
    </tr>
  {% endfor %}
          </tbody>
        </table>
        <br>
        <br>





</body>

</html>

{% endblock %}
