{% extends "entete.html.twig" %}
{% block content %}

<!DOCTYPE html>

  </head>
  <html>

    <body>
      <center>
      <h1>Paramètres personnels</h1>
      </center>
      <hr class="featurette-divider p-1">
      <div class="container">
        <form>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="disabledTextInput">Nom</label>
              <input type="text" id="disabledTextInput" class="form-control" value="{{pEtudiant.nom}}">
            </div>
            <div class="col-md-6 mb-3">
              <label for="disabledTextInput">Prenom</label>
              <input type="text" id="disabledTextInput" class="form-control" value="{{pEtudiant.prenom}}">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              
              <label for="disabledTextInput">Date de Naissance</label>
              <input type="date" id="disabledTextInput" class="form-control" value="{{pEtudiant.datenaiss|date('Y-m-d')}}">
              
            </div>
            <div class="col-md-6 mb-3">
              <label for="disabledTextInput">Sexe</label>
              <input type="text" id="disabledTextInput" class="form-control" value="{{pEtudiant.sexe}}"  maxlength="2">
            </div>
          </div>
          <div class="form-row">

</div>

<center> <h2>Coordonnées</h2></center>
          <hr class="featurette-divider p-2">
    


            <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="disabledTextInput">Adresse Personnelle</label>
              <input type="text" id="disabledTextInput" class="form-control" value="{{pEtudiant.adrperso}}">
            </div>
            <div class="col-md-6 mb-3">
              <label for="disabledTextInput">Mobile</label>
              <input type="text" id="disabledTextInput" class="form-control" value="{{pEtudiant.mobile}}">
            </div>    
            <div class="col-md-6 mb-3">
              <label for="disabledTextInput">Mail</label>
              <input type="mail" id="disabledTextInput" class="form-control" value="{{pEtudiant.mail}}">
            </div>
              </div>

          </div>
        </form>
      </div>
        <center>
    <a href="../../../../../portefeuille/public/etudiant/etudiant/modifier/{{pEtudiant.id}}"><input type="submit" value="modifier mes informations" 
      class="btn btn-secondary"></a>
  </center>
    </body>
</html>

{% endblock %}